/* Colors */
p {
  a {
    color: #ff6900;
  }
}

.upload-form-bible-study {
  #gform_browse_button_1_4 {
    background-color: #ff6900;
  }
}

.gform-theme--framework .gfield:where(.gfield--type-fileupload,.gfield--input-type-fileupload) .gform_drop_area::before {
  color: #ff6900 !important;
}