/* Page */
#content {
  position: relative;
  z-index: 100;
}

#main {
  .page {
    margin-top: 3em;
  }
}

.site-content {
  padding-top: 0 !important;
}

.media-text-mt {
  margin-top: 1em !important;
}

.media-text-mb {
  margin-bottom: 1em !important;
}

#ignatius-press-online {
  a:hover {
    color: #fff;
  }
}